<div class="container-fluid home-body">  
    <h2 class="text-center">NEW ACCOUNT</h2>  
    <div class="row content">
  
      <div class="col-sm-3">
        <img src="https://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">  
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="inputGroupFile01"
              aria-describedby="inputGroupFileAddon01">
            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
        </div>
  
      </div>
  
  
      <div class="col-sm-9">      
        <form>
            <div class="row"> 
          <div class="form-group col-sm-6">
            <label for="text">Name</label>
            <input type="text" class="form-control" id="name" >
          </div>
          <div class="form-group col-sm-6">
            <label for="uname">Username:</label>
            <input type="text" class="form-control" id="uname" >
          </div>
          <div class="form-group col-sm-6">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" >
          </div>
          <div class="form-group col-sm-6">
            <label for="role">Role:</label>
              <select class="form-control" id="role">
                <option>Admin</option>
                <option>Manager</option>
                <option>View</option>
              </select>
          </div>
          <div class="form-group col-sm-6">
            <label for="contum">Contact Number:</label>
            <input type="text" class="form-control" id="contum" >
          </div>
          <div class="form-group col-sm-6">
            <label for="addr">Address:</label>
            <input type="text" class="form-control" id="addr" >
          </div>
          <div class="form-group col-sm-6">
            <label for="passwd">Password:</label>
            <input type="password" class="form-control" id="passwd">
          </div>
          <div class="form-group col-sm-12 text-center">
              <div class="row">
                <div class="col-sm-6"> 
              <button type="submit" class="btn btn-black">Add Account</button>
            </div>
             <div class="col-sm-6"> 
              <button type="reset" class="btn btn-white">Clear</button>
            </div>  
              </div>

          </div>
        </div>
        </form>
      </div>
  
    </div>
  </div>